body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: aliceblue !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.selection_ {
  margin-top: 22px;
}
nav {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
  color: white;
}
.unordList {
  list-style: none;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* table {
  width: 100%;
  display: flex;
} */
table tr {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.first_compon {
  font-weight: bolder;
  font-size: 20px;
}
.modal_container {
  margin: 1rem 30% !important;
}
.ui.dimmer {
  /* background-color: rgba(0, 0, 0, 0.1) !important; */
}
.fl_container {
  padding: 40px 0;
}
.position_adm {
  text-align: center;
}
.adm {
  font-size: 13px;
  color: red;
}
.btn_auth {
  color: blue;
  font-size: 17px;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid;
  text-align: center;
}
.us_info {
  font-style: italic;
  font-weight: bold;
}
.table_secction {
  display: grid;
  justify-content: center;
  grid-auto-rows: 50px;
}
.tr_section:hover {
  background: #c1c1c1;
  cursor: pointer;
}
.menu_item {
  background: lightblue !important;
}
.allinfo {
  display: grid;
  justify-content: center;
  border: 1px solid;
  grid-auto-rows: 120px;
  background: beige;
  box-shadow: 0px 0px 20px #c1c1c1;
  text-align: center;
  width: 100%;
}
.profile_check {
  display: grid;
  grid-template-columns: 30% 1fr;
}
